@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#heading-text {
    text-align: center;
    font-family: Poppins;
}

body {
    background-color: #353b48;
    color: white;
}

#about {
    font-family: Inter;
}

#lists {
    font-family: Inter;
}

.loading-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #21242c;
    animation: fadeout 2s ease-in, zindex 2s ease-in;
    animation-fill-mode: forwards;
    margin: 0px;
}

@keyframes fadeout {
    from {opacity: 1; }
    to {opacity: 0; }
  }

@keyframes zindex {
    from {z-index: 3; }
    to {opacity: 0; }
}


.loading-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    z-index: 100;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
  }

  .loading-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid white;
    border-color: white transparent white transparent;
    animation: loading-ring 1.2s linear infinite, fadeout 1.5s ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }